
/* Styles */

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    text-align: center;
}

header, footer, div {
   background: #f9f9f9; 

}

h1{
    margin: 0; 
    padding-top: 1.25em;
    font-size:250%;

}

ul{
    list-style-type:none;
    padding: 0;
    margin: 12px;
}

li{
    text-transform: uppercase;
    padding: .7em;
    margin: 10px;
    font-size: 125%;
    background: #fff;
    font-weight: bold;
}



li a { 
    display: block; 
    padding: .8em;
}

a{
    text-decoration: none;
    color: black;
}


h3{
    padding: 2em;
    text-transform: uppercase;
    font-weight: bold;

}   

p{
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 140%;
    color: grey;
    
}

img{
    max-width: 90%;
}

hr {
    width: 85%;
    margin-bottom: 0%;
    
}


.intro{
    padding-top: 3.5em;
}



.footer p {
    display: inline-block;
    margin: 0;
    padding-left: 0;
    padding-right: 35%;
    padding-top: 1em;
    color: black;
    text-emphasis: bold;
}

.top{
    text-transform: uppercase;
}

.contact{
    padding-top: 4.5em;
    padding-bottom: 1em;
}

.phone, .email{
    padding-bottom: 0;
    color: black;
}


/* Media Queries */
@media screen and (min-width: 768px){
    .main-nav li{
        display: inline-flex;
        padding: 0;
        background: #f9f9f9;
    }

    .profilePic{
        float: right;
        margin-left: 10%;
        margin-right: 5%;
    }

    .content{
        display: inline-flexbox;
    }

}

@media screen and (min-width: 1024px){


}