
/* Basic Styles */
*{
    background:#f7f6ecee;
}

body {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

header,
footer, 
div,
h1 {
   background: #f7f6ecee; 

}

h1{
    margin: 0; 
    padding-top: .5em;
    font-size: 4.5em;
    font-family: 'Abril Fatface', cursive;
    

}

h3{
    font-family: 'Abril Fatface', cursive; 
}


ul{
    list-style-type:none;
    padding: 0;
    margin: 12px;
}

li{
    text-transform: uppercase;
    padding: .7em;
    margin: 10px;
    font-size: 125%;
    background: #fff;
    font-weight: bold;
}



li a { 
    display: block; 
    padding: .8em;
    background: #f7f6ecee;
}

a{
    text-decoration: none;
    color: #535353;;


}

a:hover{
    color: #383838;
  
}


h3{
    padding: 2em;
    margin-top: auto;
    text-transform: uppercase;
    font-weight: bold;
    color: #535353;
}   

p{
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 140%;
    color: #535353;
    text-emphasis: justify;
    
}

img{
    max-width: 90%;
}

hr {
    width: 85%;
    margin-bottom: 0%;
    
}


.intro{
    padding-top: 4.25em;
}



.footer span {
    display: inline-block;
    margin: 0;
    padding-left: 0;
    padding-right: 30%;
    padding-top: 1em;
    color: black;
    text-emphasis: bold;
    padding-bottom: 1em;
}

.top{
    text-transform: uppercase;
}

.contact{
    padding-top:0;
    padding-bottom:1em;
}

.phone, .email{
    padding-bottom: 0;
    color: black;
}

#tablet{
    display: none;
}

.footerName,
li{
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
}



/* Media Queries */

@media screen and (min-width: 768px){
    .main-nav li{
        display: inline-flex;
        padding: 0;
        background: #f9f9f9;
    }

    header{
        display: inline-block;
    }

    .footeritem a{
        text-transform: uppercase;
        margin-left: auto;
    }

    hr{
        min-width: 100%;
    }

    .objective{
        margin-left: 5%;
        text-align: justify;
    }

    .profilePic{
        float: right;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 10%;
        max-width: 80%;
        padding-top: 2.5%;
    }

    .container{
        display: inline-block;
    }

    #col1{
        float: left;
        width: 350px;
        margin-right: auto;
    }

    #col2{
        float: right;
        width: 350px;
    }

    .bottom{
        margin: 10%;
    }
    
    #mobile {
        display: none;
    }
    
    footer #tablet {
        display:  flex;
        justify-content: space-between;
        padding-top: 2em;
        margin-bottom: 1em;
        min-width: 100%;
       
    }

    .push {
        margin-right: auto;
    }

} 

@media screen and (min-width: 1024px){
    .main-nav{
        display: flex;
    }

}